@()
<script type="text/template" id="template-action3">
<!-- Bound:
   button#do-something Always add a comment, always prefix View events with 'do-' prefix.
-->
<div class="container-fluid offset-from-top">
   <div class="row-fluid">
      <div class="span1">
         Action3
         <button id="do-something" class="btn btn-medium">CLICK ME</button>
      </div>
      <div class="span11">
         <div id="region-content">
            <!-- page content -->
         </div>
      </div>
   </div>
</div>
</script>