@()
@main(
   css = List(),
   headJs = List(),
   bodyJs = List(),
   analytics = "Google Analytics ID"
) {
   @layout(
      // CSS
      List(
         // App
         "app.css",
         // Action1
         "action1.css",
         // Action2
         "action2.css",
         // Action3
         "action3.css"         
      ),
      // Javascripts
      // Listed in order, each one being dependent (or not) on the other.
      List(        
         // Namespaces (window object)
         "app/namespaces.js",
         
         // Utils and Logging
         "utils/utils.js",
         "utils/logger.js",
                
         // App
         "app/events.js", 
         "app/state.js", 
         "app/ui.js", 
         "app/errors.js", 
         "app/routes.js", 
         
         // Helpers
         "helpers/compatibility.js",
         "helpers/collections.js",         
                  
         // Models
         "models/item.js", // Generic, think breakcrumbs
         "models/thing.js",
         "models/socket.js",
         
         // Collections
         "collections/items.js",
         "collections/things.js",
        
         // Pages
            // App
            "views/region.js",
            "views/layout.js",
            "views/nav.js",
            
            // Action1
            "pages/action1/view.js", // Marionette Layout
            "pages/action1/events.js", // View logic
            "pages/action1/state.js", // View state, as long as the page is rendered
            "pages/action1/ui.js", // DOM manipulation
            
            // Action2
            "pages/action2/view.js",
            "pages/action2/events.js",
            "pages/action2/state.js",
            "pages/action2/ui.js",
           
            // Action2
            "pages/action3/view.js",
            "pages/action3/events.js",
            "pages/action3/state.js",
            "pages/action3/ui.js",
            
         "app/app.js" // Start the app here
      )
   )
}