@(css: List[String], js: List[String])

<!-- Global Templates -->
@nav() 

<!-- Page Templates -->
@action1()
@action2()
@action3() <!-- Hey, I'm new. -->

<!-- Wireframe -->
<div id="default-region">
  <script type="text/template" id="template-layout">
     <div id="region-nav">
        <!-- navbar -->
     </div>
     <div id="region-content">
        <!-- content -->
     </div>
  </script>
</div>

<!-- Injected -->
@for(cssFile <- css) {
   <link rel="stylesheet" href="/assets/stylesheets/@cssFile">
} 

@for(jsFile <- js) {
   <script src="/assets/javascripts/@jsFile"></script>
}