@(
   css: List[String], 
   headJs: List[String], 
   bodyJs: List[String], 
   analytics: String
)(content: Html)
<!-- 
css: css file path
headJs: javascript file paths DOM relevant
bodyJs: javascript file paths loaded at the end of the page
content: html body
-->
<!doctype html>
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=8" />
   <title>Playback</title>
   
   <!-- Bootstrap styles. Makes it easy to develop quickly. -->
   <link rel="stylesheet" href="/assets/stylesheets/third-party/bootstrap.min.css">
   <link rel="stylesheet" href="/assets/stylesheets/third-party/bootstrap-responsive.min.css">
   <link rel="stylesheet" href="/assets/stylesheets/third-party/prettify.css">
   
   <!-- Injected head CSS from Scala templates. -->
   @for(cssFile <- css) {
     <link rel="stylesheet" href="/assets/stylesheets/@cssFile">
   } 
   
   <!-- Logging http://benalman.com/code/projects/javascript-debug/docs/files/ba-debug-js.html -->
   <!-- Takes care of IE issues with console, adds built in ability to turn on/off logs, adds various states. -->
   <script src="/assets/javascripts/debug.min.js"></script>
   
   <!-- jQuery -->
   <script src="/assets/javascripts/jquery-1.7.1.min.js"></script>
   
   <!-- Takes care of IE issues with jQuery. -->
   <script src="/assets/javascripts/augment.js"></script>
   
   <!-- Bootstrappy -->
   <script src="/assets/javascripts/prettify.js"></script> 
   <script src="/assets/javascripts/less-1.3.0.min.js"></script>
   
   <!-- Backbone/Underscore/Marionette -->
   <script src="/assets/javascripts/json2.js"></script>
   <script src="/assets/javascripts/underscore.min.js"></script>
   <script src="/assets/javascripts/backbone.min.js"></script>
   <script src="/assets/javascripts/backbone.marionette-0.8.1.min.js"></script>
   
   <!-- Injected head Javascripts from Scala templates -->
   @for(jsFile <- headJs) {
      <script src="/assets/javascripts/@jsFile"></script>
   } 
   
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" onload="prettyPrint();">
   @content
   <!-- Bootstrap! -->
   <script src="/assets/javascripts/bootstrap.min.js"></script>
   
   <!-- Injected body Javascripts go at the end of the page for faster loading. -->
   @for(jsFile <- bodyJs) {
      <script src="/assets/javascripts/@jsFile"></script>
   } 
   <!-- Google Analytics -->
   <!-- Allow multiple applications to be displayed with a dynamic ID -->
   <div id="google-analytics" class="hide">@analytics</div>
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', $('div#google-analytics').html()]);
      _gaq.push(['_trackPageview']);
      (function () {
         var ga = document.createElement('script');       
         ga.type = 'text/javascript';
         ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(ga, s);
      })();
   </script>
</body>
</html>