@()
<script type="text/template" id="template-nav">
<!-- Bound:
   a#do-action1 Routes to 'action1/1'.
   a#do-action2 Routes to 'action2/1'.
-->
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
         </button>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li class="">
                  <a id="do-action1" class="no-link">Action1</a>
               </li>
               <li class="">
                  <a id="do-action2" class="no-link">Action2</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
</script>